# iOS / Xcode
frontend-ios/DerivedData/
frontend-ios/*.xcworkspace
frontend-ios/xcuserdata/
frontend-ios/Pods/
frontend-ios/*.xcuserstate

# Firebase
backend-firebase/functions/node_modules/

# Python
venv/
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# System
.DS_Store
.env
*.log
